jaxbSample/src/main/schemas/course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/courses" xmlns:tns="http://www.example.org/courses" elementFormDefault="qualified">

    
    <element name="course" type="tns:course"/>

    <complexType name="course">
    	<sequence>
    		<element name="courseId" type="string"></element>
    		<element name="courseName" type="string"></element>
    	</sequence>
    </complexType>
    
</schema>